a:hover {
  text-decoration: none;
}

a.btn {
  font-family: "Montserrat",arial,sans-serif;
  font-weight: bold;
  padding: 8px 16px;
  transition: all 0.4s ease-in-out 0s;
}

.btn {
  background-color: #383838;
  color: #fff;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

hr.spacer {
  margin: 1.5rem 0;
  border-top: 2px dashed #eee;
}

ul#posts {
  list-style: none;
  padding-left: 0;
}

div.centre {
  text-align: center;
}

#searchString {
  display: inline;
  width: 8.5rem;
}

#searchButton {
  display: inline;
}
